* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
.App {
  padding: 1.5rem;
  background-color: rgb(50, 50, 103);
}
.movies_continer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.search_nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1.5rem;
}
.title {
  padding-right: 3rem;
}

.title h1 {
  color: rgb(255, 255, 255);
}
.search_box input {
  border: 0;
  outline: 0;
  margin-right: 0.5rem;
  padding: 0.3rem;
  border-radius: 1rem;
}
.search_box button {
  border: 0;
  outline: 0;
  padding: 0.3rem;
  border-radius: 1rem;
}
